<a href="https://colab.research.google.com/github/Nitingarg01/Daily-dairy/blob/main/day_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Day 2 learn list and tuple in python

In [ ]:
colors = ['red', 'blue', 'green', 'yellow']
print(colors[0])
print(colors[1])
print(colors[3])
print(colors[1:4])
print(colors[1:3])

red
blue
yellow
['blue', 'green', 'yellow']
['blue', 'green']

In [ ]:
water_level = [730, 709, 682, 712, 733, 751, 740]
water_level.remove(682)
water_level.insert(2,693)
print(water_level)

[730, 709, 693, 712, 733, 751, 740]

In [ ]:
water_level = [730, 709, 693, 712, 733, 751, 740]
water_level.append(772)
print(water_level)

[730, 709, 693, 712, 733, 751, 740, 772]

In [ ]:
water_level = [730, 709, 682, 712, 733, 751, 740,772]
water_level.extend([772,770,7745])
print(water_level )

[730, 709, 682, 712, 733, 751, 740, 772, 772, 770, 7745]

In [ ]:
water_level = [730, 709, 682, 712, 733, 751, 740]
water_level.pop(0)
print(water_level)
water_level.remove(709)
print(water_level)

[709, 682, 712, 733, 751, 740]
[682, 712, 733, 751, 740]

In [ ]:
color=("red","green","blue")
print(color[1])

green

In [ ]:
water_level = (730, 709, 682, 712, 733, 751, 740)
water_level.pop()
print(water_level)

AttributeError: 'tuple' object has no attribute 'pop'

In [ ]:
numbers = (1, 2, 3, 4, 5)
print(numbers[1:4])
print(numbers[::-1])

(2, 3, 4)
(5, 4, 3, 2, 1)

In [ ]:
fruits=("apple","banana")
berries=("strawberry","blueberry")
combine_fruits=fruits+berries
print(combine_fruits)
print(combine_fruits*3)

('apple', 'banana', 'strawberry', 'blueberry')
('apple', 'banana', 'strawberry', 'blueberry', 'apple', 'banana', 'strawberry', 'blueberry', 'apple', 'banana', 'strawberry', 'blueberry')

In [ ]:
grades=(90,85,92,88,95)
print(grades.count(88))
print(grades.index(92))

1
2

In [ ]:
mixed_types=("apple",42,3.14)
print(mixed_types[1])

42

In [ ]:
lis=["cat", "dog", "rabbit"]
y=list(lis)
animals=tuple(y)
print(animals)

('cat', 'dog', 'rabbit')

In [ ]:
outer_tuple=("animals",("red","green","yellow"))
print(outer_tuple[1][1])

green