<a href="https://colab.research.google.com/github/Nitingarg01/Daily-dairy/blob/main/day_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
name=input("enter a name\n")
n="nitin"
if n==name:
  print("ok")
else:
  print("no")

enter a name
nitin
ok

You have a variable age. Write a conditional statement to check if age is greater than or equal to 18. If true, print "You are an adult", otherwise print "You are a minor".

In [ ]:
n=int(input("tpye ur age\n"))
if n>=18:
  print("ur are adult")
else:
  print("ur are minor")

tpye ur age
55
ur are adult

Given a variable temperature, write a conditional statement to check if temperature is below 0. If true, print "It's freezing", otherwise print "It's not freezing".

In [ ]:
n=int(input("type a variable temperature\n"))
if n<0:
  print("its a frezing")
else:
  print("its not a freezing")

type a variable temperature
-2
its a frezing

You have a variable score. Write a conditional statement to check if score is greater than 90. If true, print "Grade A", if score is between 80 and 90, print "Grade B", otherwise print "Grade C".

In [ ]:
score=int(input("enter  a score\n"))
if score>90:
  print("grade A")
elif 90>=score and score>80:
  print("Grade b")
else:
  print("grade c")

enter  a score
75
grade c

 You are managing a list of employee ages. Print each age from the list using a for loop.

In [ ]:
list1=[34,44,23,45,55]
for i in range(0,5):
  print(list1[i],end=' ')

34 44 23 45 55

. You are given a list of daily temperatures. Use a for loop to calculate and print the average temperature for the week.

In [ ]:
list1=[5,54,5,6,54,5,3,24,5,]
no_list1=len(list1)
sum=0
for i in range(0,no_list1):
  sum=sum+list1[i]
print(sum/no_list1)

17.88888888888889

Given two variables a and b, write a conditional statement to check if a is equal to b. If true, print "a and b are equal", otherwise print "a and b are not equal".

In [ ]:
a=int(input("enter value of a\n"))
b=int(input("enter value of b\n"))
if a==b:
  print("a and b are equal")
else:
  print("a and b are not equal")

enter value of a
8
enter value of b
8
a and b are equal

You need to distribute candies to children. Print each child's name and the number of candies they receive, distributing 1 to 20 candies using a for loop.

In [ ]:
children = ["Alice", "Bob", "Charlie", "David", "Eva", "Frank", "Grace", "Hannah", "Ivy", "Jack"]

# Distribute candies to children
for i in range(len(children)):
    # Calculate the number of candies for the current child
    candies_for_child = (i % 20) + 1
    print(f"{children[i]} receives {candies_for_child} candies")

Alice receives 1 candies
Bob receives 2 candies
Charlie receives 3 candies
David receives 4 candies
Eva receives 5 candies
Frank receives 6 candies
Grace receives 7 candies
Hannah receives 8 candies
Ivy receives 9 candies
Jack receives 10 candies

 You are processing a list of book titles. Use a for loop to print each title in uppercase.

In [ ]:
list1=['swaraj','freedom','omga','mkc']
for i in range(0,len(list1)):
  print(list1.upper())

AttributeError: 'list' object has no attribute 'upper'